  <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <p><a class="navbar-brand" href="dashboard.html">&nbsp;Home</a></p>
                </div>
               
                    <!-- <ul class="nav navbar-nav navbar-right">
                        <!-- Dropdown <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Dropdown
                                    <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li>--> 
                         <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
<table class="table">
  <thead>
    <tr>
      <th>Pitch name</th>
      <th>Pitch Date</th>
      <th>Author</th>
      <th>Company name</th>
      <th>Sector name</th>
      <th>Subsector name</th>
      <th>Download</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pitches.each do |pitch| %>
      <tr>
        <td><%= link_to pitch.pitch_name, pitch %></td>
        <td><%= pitch.pitch_date %></td>
        <td><%= pitch.author %></td>
        <td><%= pitch.company_name %></td>
        <td><%= pitch.sector_name %></td>
        <td><%= pitch.subsector_name %></td>
        <td><%= link_to 'Show', pitch %></td>
        <td><%= link_to 'Edit', edit_pitch_path(pitch) %></td>
        <td><%= link_to 'Destroy', pitch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> 
    <% end %>
    
    </div>
    </div>